.logo {

    width: 60%;
    left: 0;
    bottom: 0;
    padding-left: 0;
  }

.ion-toolbar{
    height:70px;
  }


  .button1 {

    width: 40px;
    height: 40px;
    margin-top: 25px;
    margin-left: 15px;
  }

  .button2 {

    width: 40px;
    height: 40px;
    margin-top: 25px;
    margin-left: 10px;
    align-items: center;
  }

  .icon2{
    width: 120%;
  }

.titulo{
  font-size: 22px;
  size: 5%;
  font-weight: bold;
  color:green

}
