<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-avatar>
        <ion-img src="/assets/zoro2.jfif"></ion-img>
      </ion-avatar>
    </ion-buttons>
    <ion-title>task</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaulthref="/" text="Back" color ="primary" mode ="ios">

      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      
      <ion-card-subtitle class="subtitulo2">One piece</ion-card-subtitle > 
      <ion-img src="/assets/onepiece.jpg"></ion-img>
      <ion-card-title class="titulo2">El mejor anime del mundo</ion-card-title>
    </ion-card-header>

    <ion-card-content class="ion-pading-contenido">
      One Piece es una aventura de piratas. Es la historia de un chico llamado Monkey D. ... Luffy,
       inspirado por el pirata Shanks "Akagami", sale al mar diez años después para convertirse 
       en el Rey de los Piratas. Para ello necesitaría encontrar una tripulación adecuada, 
      diez personas que lo acompañarían en su aventura.
    </ion-card-content>

  </ion-card>
</ion-content>
