<ion-header>
  <ion-toolbar class="ion-toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaulthref="/" text="volver" color ="primary" mode ="ios">
      </ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    
    <ion-img class="logo" src="/assets/logo3.jpeg"></ion-img>
  </ion-toolbar>
  
</ion-header>


<ion-content>


  <ion-label>Próximamente...</ion-label>
  <br>
  <ion-label>Estamos trabajando en la mejor
     forma de medir el tonelaje CO2, buscando las herramientas
      y la forma con la que tú y tu empresa contribuir con el Medio Ambiente.</ion-label>
</ion-content>
